<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Setup Before Game</title>
</head>
<body>
<h1>Wybierz modele i grę</h1>

{{ form_start(form) }}
{{ form_row(form.model1) }}
{{ form_row(form.model2) }}
{{ form_row(form.typeOfProcess) }}
{{ form_row(form.numberOfGames) }}
{{ form_row(form.numberOfRepeats) }}
{{ form_row(form.promptType) }}
{{ form_row(form.start) }}
{{ form_end(form) }}
</body>
</html>
